{% comment %}
  Renders an product card.

  Accepts:
  - product: {Object} Product object

  Usage:
  {{ "snippet-product-card.css" | asset_url | stylesheet_tag }}

  {% render 'product-card' %}
{% endcomment %}

<div class="product-card">
  <div class="product-card__media">
    <a href="{{ product.url }}">
      <div class="product-card__image-holder">
        {%- render 'image',
           image_box: product.images[0]
        -%}
      </div>
    </a>
  </div>

  <h3 class="product-card__title">
    <a href="{{ product.url }}">
      {{ product.title }}
    </a>
  </h3>

  <p class="product-card__description">{{ product.description | strip_html }}</p>

  <div class="product-card__info-group">
    {% render 'price',
       product: product,
       price_class: 'product-card__price',
       use_variant: true
    %}


    {% unless product.has_only_default_variant %}
      <label class="visually-hidden" for="product-option">Product options</label>

      <select id="product-option">
        <option value="" selected disabled hidden>Options</option>

        {%- for variant in product.variants -%}
          <option value="{{ variant.id }}">{{ variant.option1 }}</option>
        {%- endfor -%}
      </select>
    {% endunless %}

  </div>

  <button class="button">Add to Card</button>
</div>
